<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Bootstrap App", root_path, :class => 'navbar-brand' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">

  
    <ul class="nav navbar-nav navbar-right">

      <!-- Login, Logout -->
      <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
        <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
      <% end %>

      <!-- if Logged in, if Admin -->
      <% if user_signed_in? %>
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
          <% if current_user.has_role? :admin %>
            <li><%= link_to 'Admin', users_path %></li>
          <% end %>
      <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>

    </ul>
  </div><!-- /.navbar-collapse -->

  </div>
</nav>